.rounded-corners(@radius:5px)
{
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.cont-area .mid-sec .cont-bg
{
	padding-bottom: 0;
	min-height: 565px;
	
	input[type=text]
	{
		background: url(/images/search-txt-box.gif) no-repeat left top;
			height: 19px;
			padding: 2px;
			border: none;
			border-right: 1px solid #BCB3B2;
		}
	input#searchsubmit
	{
		color: #000;
	}
	
	h2.blog-title
	{
		padding-left: 10px;
		margin-bottom: 0;
		
		span
		{
			padding: 0;
		}
		
		a
		{
			text-decoration: none;
			
			:hover
			{
				text-decoration: underline;
			}	
		}
	}
	
	h2.entry-title
	{
		font-size: 1.17em;
	}
	
	h1.page-title, h3.page-title
	{
		font-size: 1.5em;
	}
	
	.post
	{
		padding: 10px;
		
		p
		{
			padding: 0;
			margin-bottom: 1em;
		}
		
		ol.commentlist
		{
			margin-left: 0;
			
			li
			{
				margin-bottom: 0;
			}
			
		}
		
		ul, ol
		{
			margin-left: 40px;
			
				li
			{
				margin-bottom: 1em;
			}
			
		}
		
		h1, h2, h3, h4, h5, h6
		{
			border: none;
			padding:0;
			margin: 0 0 1em 0;
		}
		
		.entry-meta
		{
			margin: 1em 0;
		}
		
		img.wp-post-image
		{
			float: left;
			display: inline;
			margin: 4px 24px 12px 0;
		}
	}
}

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#reply-title {
background: #180B0B url(/images/title-bg.gif) repeat-x left top;
height: 31px;
border: 1px #D8C19E solid;
border-bottom: 0px;
line-height: 31px;
padding-left: 10px;
color: white;
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
font-size: 14px;
margin-top: 20px;
}
h3#comments-title {
	padding: 24px 0;
	color: #000;
	font-size: 1.17em;
	font-weight: bold;
	margin: 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border: 1px solid #D8C19E;
	margin: 0 0 23px 0;
	padding: 20px 20px 20px 66px;
	position: relative;
	background: #FBF8F3 url(/images/dark-strip.gif) repeat-x left bottom;
	width: 82%;	
}
.commentlist li:last-child {
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 20px;
	left: 15px;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
	display: none;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */

#commentform
{
background: #FBF8F3 url(/images/dark-strip2.gif) repeat-x left bottom;
border: 1px #D8C19E solid;
padding: 10px 30px;
margin-right: 10px;
clear: both;
width: 410px;
margin-top: -18px;

	input
	{
	background: url(/images/search-txt-box.gif) no-repeat left top;
	height: 19px;
	width: 159px;
	padding: 2px;
	border: none;
	margin-left: 20px;
	margin-right: 5px;
	}
}

div.post input[type=submit] {
	color: transparent;
}
#respond {
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	width: 200px;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	display: block;
}
#respond textarea {
	width: 100%;
	height: 150px;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: 85px;
	background: url(https://www.abundantharvestorganics.com/images/submit-btn.gif) no-repeat;
	height: 25px;
	margin-left: 330px;
	cursor: pointer;
}

/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}

blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

#entry-author-info {
	clear: both;
	margin: 24px 0;
	overflow: hidden;
	padding: 0 20px;
}
#entry-author-info #author-avatar {
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}

.cont-area .right-sec
{
	background: url(https://www.abundantharvestorganics.com/images/right-bg-img.gif) repeat-y center top;
	padding: 10px 15px 0 15px;
	position: relative;
	width: 157px;
	height: auto;
	float: right;
	.rounded-corners;
	margin-bottom: 10px;

		a, a:link, a:visited
		{
			color: #640D0D;
			text-decoration: underline;
		}

		li
		{
			list-style: none;
			font-size: 0.9em;
		}
		
		.widget-container
		{
			background-color: #fff;
			margin-bottom: 10px;
			padding: 5px;
			border: 1px solid #000;
		}
		
		h2
		{
			margin-bottom: 10px;
			
			img
			{
				margin-right: 5px;
			}
			
			a, a:link
			{
				text-decoration: none;
				
				:hover
				{
					text-decoration: underline;
				}
			}
		}
		
		h3
		{
			font-size: 12px;
		}
		
		input[type=text]
		{
			width: 97%;
			margin-bottom: 5px;
			background: url(/images/search-txt-box.gif) no-repeat left top;
			height: 19px;
			padding: 2px;
			border: none;
			border-right: 1px solid #BCB3B2;
		}
		
		input[type=submit]
		{
			padding: 2px 5px;
			cursor: pointer;
		}
}

.emm-paginate a {background:#ddd; margin-right:4px; padding:3px 6px; text-align:center; text-decoration:none;}
.emm-paginate a:hover, .emm-paginate a:active {background:#ccc; color:#888;}
.emm-paginate .emm-title {color:#555; margin-right:4px;}
.emm-paginate .emm-gap {color:#999; margin-right:4px;}
.emm-paginate .emm-current {color:#fff; background:#640D0D; margin-right:4px; padding:3px 6px;}

