.cont-area .mid-sec .cont-bg {
  padding-bottom: 0;
  min-height: 565px;
}
.cont-area .mid-sec .cont-bg input[type=text] {
  background: url(http://www.abundantharvestorganics.com/images/search-txt-box.gif) no-repeat left top;
  height: 19px;
  padding: 2px;
  border: none;
  border-right: 1px solid #bcb3b2;
}
.cont-area .mid-sec .cont-bg input#searchsubmit { color: #000000; }
.cont-area .mid-sec .cont-bg h2.blog-title {
  padding-left: 10px;
  margin-bottom: 0;
}
.cont-area .mid-sec .cont-bg h2.blog-title span { padding: 0; }
.cont-area .mid-sec .cont-bg h2.blog-title a { text-decoration: none; }
.cont-area .mid-sec .cont-bg h2.blog-title a:hover { text-decoration: underline; }
.cont-area .mid-sec .cont-bg h2.entry-title { font-size: 1.17em; }
.cont-area .mid-sec .cont-bg h1.page-title { font-size: 1.5em; }
.cont-area .mid-sec .cont-bg h3.page-title { font-size: 1.5em; }
.cont-area .mid-sec .cont-bg .post { padding: 10px; }
.cont-area .mid-sec .cont-bg .post p {
  padding: 0;
  margin-bottom: 1em;
}
.cont-area .mid-sec .cont-bg .post ol.commentlist { margin-left: 0; }
.cont-area .mid-sec .cont-bg .post ol.commentlist li { margin-bottom: 0; }
.cont-area .mid-sec .cont-bg .post ul { margin-left: 40px; }
.cont-area .mid-sec .cont-bg .post ul li { margin-bottom: 1em; }
.cont-area .mid-sec .cont-bg .post ol { margin-left: 40px; }
.cont-area .mid-sec .cont-bg .post ol li { margin-bottom: 1em; }
.cont-area .mid-sec .cont-bg .post h1 {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.cont-area .mid-sec .cont-bg .post h2 {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.cont-area .mid-sec .cont-bg .post h3 {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.cont-area .mid-sec .cont-bg .post h4 {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.cont-area .mid-sec .cont-bg .post h5 {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.cont-area .mid-sec .cont-bg .post h6 {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.cont-area .mid-sec .cont-bg .post .entry-meta { margin: 1em 0; }
.cont-area .mid-sec .cont-bg .post img.wp-post-image {
  float: left;
  display: inline;
  margin: 4px 24px 12px 0;
}
#comments { clear: both; }
#comments .navigation { padding: 0 0 18px 0; }
h3#reply-title {
  background: #180b0b url(http://www.abundantharvestorganics.com/images/title-bg.gif) repeat-x left top;
  height: 31px;
  border: 1px #d8c19e solid;
  border-bottom: 0px;
  line-height: 31px;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  margin-top: 20px;
}
h3#comments-title {
  padding: 24px 0;
  color: #000000;
  font-size: 1.17em;
  font-weight: bold;
  margin: 0;
}
.commentlist {
  list-style: none;
  margin: 0;
}
.commentlist li.comment {
  border: 1px solid #d8c19e;
  margin: 0 0 23px 0;
  padding: 20px 20px 20px 66px;
  position: relative;
  background: #fbf8f3 url(http://www.abundantharvestorganics.com/images/dark-strip.gif) repeat-x left bottom;
  width: 82%;
}
.commentlist li:last-child { margin-bottom: 0; }
#comments .comment-body ul { margin-bottom: 18px; }
#comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol { list-style: decimal; }
.commentlist .avatar {
  position: absolute;
  top: 20px;
  left: 15px;
}
.comment-author cite {
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
.comment-author .says { font-style: italic; }
.comment-meta {
  font-size: 12px;
  margin: 0 0 18px 0;
}
.comment-meta a:link {
  color: #888888;
  text-decoration: none;
}
.comment-meta a:visited {
  color: #888888;
  text-decoration: none;
}
.comment-meta a:active { color: #ff4b33; }
.comment-meta a:hover { color: #ff4b33; }
.reply {
  font-size: 12px;
  padding: 0 0 24px 0;
  display: none;
}
.reply a { color: #888888; }
a.comment-edit-link { color: #888888; }
.reply a:hover { color: #ff4b33; }
a.comment-edit-link:hover { color: #ff4b33; }
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li {
  border: none;
  margin: 0;
}
.nopassword, .nocomments { display: none; }
#comments .pingback {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.commentlist li.comment + li.pingback { margin-top: -6px; }
#comments .pingback p {
  color: #888888;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#comments .pingback .url {
  font-size: 13px;
  font-style: italic;
}
#commentform {
  background: #fbf8f3 url(http://www.abundantharvestorganics.com/images/dark-strip2.gif) repeat-x left bottom;
  border: 1px #d8c19e solid;
  padding: 10px 30px;
  margin-right: 10px;
  clear: both;
  width: 410px;
  margin-top: -18px;
}
#commentform input {
  background: url(http://www.abundantharvestorganics.com/images/search-txt-box.gif) no-repeat left top;
  height: 19px;
  width: 159px;
  padding: 2px;
  border: none;
  margin-left: 20px;
  margin-right: 5px;
}
div.post input[type=submit] { color: transparent; }
#respond {
  margin: 24px 0;
  overflow: hidden;
  position: relative;
}
#respond p { margin: 0; }
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0; }
h3#reply-title { margin: 18px 0; }
#comments-list #respond { margin: 0 0 18px 0; }
#comments-list ul #respond { margin: 0; }
#cancel-comment-reply-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
#respond .required {
  color: #ff4b33;
  font-weight: bold;
}
#respond label {
  width: 200px;
  font-size: 12px;
}
#respond input {
  margin: 0 0 9px;
  display: block;
}
#respond textarea {
  width: 100%;
  height: 150px;
}
#respond .form-allowed-tags {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit { margin: 12px 0; }
#respond .form-submit input {
  font-size: 14px;
  width: 85px;
  background: url(https://www.abundantharvestorganics.com/images/submit-btn.gif) no-repeat;
  height: 25px;
  margin-left: 330px;
  cursor: pointer;
}
img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  height: auto;
}
.attachment img {
  max-width: 100%;
  height: auto;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important;
  padding: 4px;
  text-align: center;
}
.wp-caption img { margin: 5px 5px 0; }
.wp-caption p.wp-caption-text {
  color: #888888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley { margin: 0; }
blockquote {
  font-style: italic;
  padding: 0 3em;
}
blockquote cite { font-style: normal; }
blockquote em { font-style: normal; }
blockquote i { font-style: normal; }
#entry-author-info {
  clear: both;
  margin: 24px 0;
  overflow: hidden;
  padding: 0 20px;
}
#entry-author-info #author-avatar {
  border: 1px solid #e7e7e7;
  float: left;
  height: 60px;
  margin: 0 -104px 0 0;
  padding: 11px;
}
#entry-author-info #author-description {
  float: left;
  margin: 0 0 0 104px;
}
#entry-author-info h2 {
  color: #000000;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0;
}
.cont-area .right-sec {
  background: url(https://www.abundantharvestorganics.com/images/right-bg-img.gif) repeat-y center top;
  padding: 10px 15px 0 15px;
  position: relative;
  width: 157px;
  height: auto;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cont-area .right-sec a {
  color: #640d0d;
  text-decoration: underline;
}
.cont-area .right-sec a:link {
  color: #640d0d;
  text-decoration: underline;
}
.cont-area .right-sec a:visited {
  color: #640d0d;
  text-decoration: underline;
}
.cont-area .right-sec li {
  list-style: none;
  font-size: 0.9em;
}
.cont-area .right-sec .widget-container {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #000000;
}
.cont-area .right-sec h2 { margin-bottom: 10px; }
.cont-area .right-sec h2 img { margin-right: 5px; }
.cont-area .right-sec h2 a { text-decoration: none; }
.cont-area .right-sec h2 a:hover { text-decoration: underline; }
.cont-area .right-sec h2 a:link { text-decoration: none; }
.cont-area .right-sec h2 a:link:hover { text-decoration: underline; }
.cont-area .right-sec h3 { font-size: 12px; }
.cont-area .right-sec input[type=text] {
  width: 97%;
  margin-bottom: 5px;
  background: url(http://www.abundantharvestorganics.com/images/search-txt-box.gif) no-repeat left top;
  height: 19px;
  padding: 2px;
  border: none;
  border-right: 1px solid #bcb3b2;
}
.cont-area .right-sec input[type=submit] {
  padding: 2px 5px;
  cursor: pointer;
}
.emm-paginate a {
  background: #dddddd;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}
.emm-paginate a:hover {
  background: #cccccc;
  color: #888888;
}
.emm-paginate a:active {
  background: #cccccc;
  color: #888888;
}
.emm-paginate .emm-title {
  color: #555555;
  margin-right: 4px;
}
.emm-paginate .emm-gap {
  color: #999999;
  margin-right: 4px;
}
.emm-paginate .emm-current {
  color: #ffffff;
  background: #640d0d;
  margin-right: 4px;
  padding: 3px 6px;
}
